<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>moodring.nyc</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>