<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> -->
    <title>xanders photobooth</title>
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <h1>printing!!!</h1>
    <img src="{{img_src}}">
    <a href="/">restart</a>
</body>